.ui.cards > .card, .ui.card {
	width: 100%;
}

.ui.right.floated.basic.icon.button {
	position: absolute;
	right: 7px;
	top: 6px;
}

.ui.message p {
	margin-top: 0px;
}

.ui.message .header {
	margin-bottom: 10px;
}